
<div class="col-md-6">
    <iframe class="position-relative rounded w-100 h-100"
            src="@ViewBag.framestring"
            frameborder="0" style="min-height: 400px; border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0">
    </iframe>
</div>
